In [9]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import os

print("Matplotlib version", matplotlib.__version__)
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

Matplotlib version 3.1.3

In [2]:
path = "secdata/0427/"

In [3]:
rdr = pd.read_csv(path + "security.craftlog.0.csv", encoding="UTF-8")
rdr

,time,client,port,url,query,resp
0,1182481,8.0.16.9,31936,222.240.246.165.in-addr.arpa,PTR IN,denied\n
1,1182481,210.99.78.4,58878,16.131.253.203.in-addr.arpa,PTR IN,denied\n
2,1182481,103.16.205.185,45576,64.120.246.165.in-addr.arpa,PTR IN,denied\n
3,1182481,192.87.30.51,4972,99.107.241.203.in-addr.arpa,PTR IN,denied\n
4,1182481,103.16.205.184,53975,44.120.246.165.in-addr.arpa,PTR IN,denied\n
...,...,...,...,...,...,...
694766,1193960,60.215.138.170,56557,66.83.246.165.in-addr.arpa,PTR IN,denied\n
694767,1193960,172.253.5.3,56077,lb._dns-sd._udp.0.88.246.165.in-addr.arpa,PTR IN,denied\n
694768,1193960,3.123.44.131,4964,129.182.78.168.in-addr.arpa,PTR IN,denied\n
694769,1193960,146.112.137.66,64131,164.5.246.165.in-addr.arpa,PTR IN,denied\n
694770,1193960,172.68.241.77,52782,146.169.246.165.in-addr.arpa,PTR IN,denied\n

In [4]:
rdr.columns

Index(['time', 'client', 'port', 'url', 'query', 'resp'], dtype='object')

In [5]:
rdr.values

array([[1182481, '8.0.16.9', 31936, '222.240.246.165.in-addr.arpa',
        'PTR IN', 'denied\n'],
       [1182481, '210.99.78.4', 58878, '16.131.253.203.in-addr.arpa',
        'PTR IN', 'denied\n'],
       [1182481, '103.16.205.185', 45576, '64.120.246.165.in-addr.arpa',
        'PTR IN', 'denied\n'],
       ...,
       [1193960, '3.123.44.131', 4964, '129.182.78.168.in-addr.arpa',
        'PTR IN', 'denied\n'],
       [1193960, '146.112.137.66', 64131, '164.5.246.165.in-addr.arpa',
        'PTR IN', 'denied\n'],
       [1193960, '172.68.241.77', 52782, '146.169.246.165.in-addr.arpa',
        'PTR IN', 'denied\n']], dtype=object)

In [6]:
rdr.describe()

               time           port
count  6.947710e+05  694771.000000
mean   1.187856e+06   38653.751471
std    3.048676e+03   18309.631650
min    1.182481e+06      53.000000
25%    1.185790e+06   23264.000000
50%    1.187668e+06   41540.000000
75%    1.190548e+06   55002.500000
max    1.193960e+06   65535.000000

In [7]:
rdr.count()

time      694771
client    694771
port      694771
url       694771
query     694771
resp      694771
dtype: int64

In [11]:
pd.unique(rdr["resp"].values)

array(['denied\n'], dtype=object)

In [12]:
pd.unique(rdr["query"].values)

array(['PTR IN', 'NS IN', 'MX IN', 'AAAA IN', 'A IN', 'DNSKEY IN',
       'TXT IN', 'SOA IN', 'SPF IN', 'ANY IN',
       ' app-measurement.com sdk-exp A IN', 'CNAME IN', 'DS IN', 'SRV IN',
       'CAA IN'], dtype=object)

In [13]:
a = list(pd.unique(rdr["query"].values))
a

['PTR IN',
 'NS IN',
 'MX IN',
 'AAAA IN',
 'A IN',
 'DNSKEY IN',
 'TXT IN',
 'SOA IN',
 'SPF IN',
 'ANY IN',
 ' app-measurement.com sdk-exp A IN',
 'CNAME IN',
 'DS IN',
 'SRV IN',
 'CAA IN']